{% extends "layout.twig" %}

{% block content %}
    {% include "partials/hero-interior.twig" %}

    <div class="container">
        <section class="cards cards-index">
            <div class="container">
                {% for row in posts|batch(4) %}
                    <div class="row">
                        {% for post in row %}
                            {% include "partials/tease-card.twig" %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
