<div class="container hp-signup-bar">
    <div class="row">
        <div class="col-sm-3 title-container"><span class="morning-cta">Get the<br>Weekly Report</span></div>
            <div class="col-sm-9">
                <div class="signup-home js-signup-home">
                    {% filter shortcodes %}
                        [gravityform id="1" title="false" description="false"]
                    {% endfilter %}
                </div>
            </div>
        </div>
    </div>
</div>
<section class="hp-video-block" style="background: url('{{ TimberImage( home.video_img ).get_src|resize(1800) }}');">
    <div class="container">
            <div class="row">
            
                <a href="http://youtube.com/watch?v={{ home.field_57a2b85d423ca }}" class="video-lightbox"><div class="video-info">
                    <h3>Watch</h3>
                    <div class="play-circle"><i class="fa fa-play" aria-hidden="true"></i></div>
                    <h2 class="video-title">{{ home.video_title }}</h2>
                </div>
            </div>
    </div>
</section>
