<div class="newsletter-sidebar">
    <h4>Sign the West</h4>
    <h1>Get the Newsletter</h1>
    <div class="js-signup-sidebar">
        {% filter shortcodes %}
            [gravityform id="1" title="false" description="false"]
        {% endfilter %}
    </div>
</div>
